.CandidateProfileCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 27px 24px;
  gap: 0.7em;
  border-radius: 1em;
  width: 25em;
  height: 19em;
  background-color: var(--color-white);

  &__header {
    display: flex;
    flex-direction: row;
    gap: 1em;

    &__name {
      margin: 0;
    }

    &__title {
      margin: 0;
      color: var(--color-blue-ribbon);
      font-weight: 600;
    }
  }

  &__description {
    color: var(--color-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 5px;
  }

  &__tags {
    list-style-type: none;
    display: flex;
    gap: 0.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;

    li {
      color: var(--color-blue-ribbon);
      background: rgba(0, 102, 255, 0.05);
      padding: 4.5px 12px;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.3em;
      border-radius: 1em;
    }
  }

  &__button {
    text-decoration: none;
    display: inline-block;
    padding: 9px 16px;
    color: var(--color-bunting);
    background-color: var(--color-selective-yellow);
    border-radius: 0.5em;
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
  }
}

@media only screen and (max-width: 425px) {
  .CandidateProfileCard {
    width: 21.4em;
    height: 20.6em;
  }
}
