.HeroSection {
  max-width: 1260px;
  width: 87%;
  max-height: 673px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3%;

  &__info {
    padding: 30px 0 30px 30px;

    &__title {
      margin: 0;
      font-size: calc(32px + (56 - 32) * ((100vw - 768px) / (1280 - 768)));
      line-height: 1.33em;
      color: var(--color-bunting);

      &--circled {
        padding: 0 10px;
        border: 3px solid var(--color-blue-ribbon);
        border-radius: 30px;
      }
    }

    &__text {
      font-size: calc(16px + 2 * (100vw / 1280));
      color: var(--color-text);
      line-height: 1.5em;
    }

    &__button {
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      color: var(--color-white);
      font-size: 14px;
      line-height: 1em;
      background-color: var(--color-blue-ribbon);
      border: 2px solid var(--color-blue-ribbon);
      border-radius: 8px;
      cursor: pointer;
    }
  }

  &__info,
  &__image {
    flex-basis: 50%;
    max-width: 50%;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
  }
}

.HeroSection__image {
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

@media only screen and (min-width: 1280px) {
  .HeroSection {
    max-width: 2000px;

    &__info {
      &__title {
        font-size: 3.5em;
      }
    }
  }
}

@media only screen and (min-width: 1450px) {
  .HeroSection {
    &__info,
    &__image {
      flex-basis: auto;
    }
  }
}

@media only screen and (max-width: 425px) {
  .HeroSection {
    flex-direction: column;
    width: 100%;
    margin-top: 25px;

    &__info {
      margin: 25px 25px 0 25px;
      padding: 0;

      &__title {
        font-size: 2.25em;
        text-align: left;
      }

      &__text {
        margin-bottom: 20px;
      }

      &__button {
        padding: 10px 25px;
      }
    }

    &__info,
    &__image {
      flex-basis: 50%;
      max-width: 100%;
    }
  }
}
