.HeroSection {
	padding-top: 5%;
	max-width: 1260px;
	width: 80%;
	max-height: 673px;
	height: 80vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	gap: 5%;

	&__main {
		max-height: 45rem;
	}

	&__main,
	&__image {
		flex-basis: calc(50% - 10px);
		max-width: calc(50% - 10px);
	}

	&__title {
		margin: 0;
		font-size: calc(32px + (56 - 32) * ((100vw - 768px) / (1280 - 768)));
		line-height: 133%;
		color: #151f4c;

		&--circled {
			padding: 0 10px;
			border: 3px solid #0066ff;
			border-radius: 30px;
		}
	}

	&__text {
		font-size: calc(16px + 2 * (100vw / 1280));
		color: #7d7cac;
		line-height: 150%;
	}

	&__button {
		padding: 15.5px 24px;
		color: #ffffff;
		font-size: 14px;
		background-color: #0066ff;
		border: 2px solid #0066ff;
		border-radius: 8px;
	}

	&__image {
		background: top right no-repeat url(img/hero-image.svg);
		background-size: contain;
		height: 100%;
	}
}
