.ReasonCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  max-width: 356px;
  font-style: normal;

  &__icon {
    position: relative;
    width: 48px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;

    &__background {
      width: 100%;
      height: 100%;
      background-color: var(--color-selective-yellow);
      border-radius: 16px;
      position: absolute;
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;

      &__image {
      position: absolute;
      left: 25%;
      right: 25%;
      top: 25%;
      bottom: 25%;
    }
    }
  }

  &__title {
    color: var(--color-bunting);
    max-height: 27px;
    line-height: 133%;
  }

  &__description {
    color: var(--color-text);
    line-height: 150%;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
  }
}
