.ReasonsSection {
    padding: 96px 126px;

    &__contentWrapper {
        max-width: 1260px;
        width: 100%;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
    }

    &__heading h2 {
        color: var(--color-bunting);
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &::after {
            content: " ";
            background-color: var(--color-blue-ribbon);
            width: 24px;
            height: 8px;
            border-radius: 4px;
            display: block;
            margin-top: 5px;
        }
    }

    &__cardsWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 96px;

        &__firstRow, &__secondRow {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 96px;

            & li {
                list-style: none;
            }
        }
    }
}