.PartnerBanner {
    width: 100%;
    overflow: hidden;
    background-color: var(--color-bunting);

    div {
        position: relative;
        display: flex;
        flex-direction: row;
        animation: slide 20s 1s linear infinite;
        
    }

    img {
        height: 2em;
        object-fit: contain;
        margin: 1.5em;
    }
}

@keyframes slide {
    0% {
        transform: translateX(1%);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(1%);
    }
}