.PartnerBanner {
    width: 100%;
    overflow: hidden;
    background-color: var(--color-bunting); 

    div {
        position: relative;
        display: flex;
        flex-direction: row;
        // transform: translateX(-10vw);
        animation: slide 20s 1s linear infinite;

    }

    img {
        height: 2em;
        object-fit: contain;
        margin: 1.25em 4vw;
    }
}

@media only screen and (max-width: 425px) {
    @keyframes slide {
        0% {
            transform: translateX(1vw);
        }

        50% {
            transform: translateX(-300vw);
        }

        100% {
            transform: translateX(1vw);
        }
    }
}

@media only screen and (min-width: 425px) {
    @keyframes slide {
        0% {
            transform: translateX(1vw);
        }

        50% {
            transform: translateX(-265vw);
        }

        100% {
            transform: translateX(1vw);
        }
    }
}

@media only screen and (min-width: 768px) {
    @keyframes slide {
        0% {
            transform: translateX(1vw);
        }

        50% {
            transform: translateX(-140vw);
        }

        100% {
            transform: translateX(1vw);
        }
    }
}

@media only screen and (min-width: 1024px) {
    @keyframes slide {
        0% {
            transform: translateX(0.5vw);
        }

        50% {
            transform: translateX(-95vw);
        }

        100% {
            transform: translateX(0.5vw);
        }
    }
}

@media only screen and (min-width: 1440px) {
    @keyframes slide {
        0% {
            transform: translateX(0.5vw);
        }

        50% {
            transform: translateX(-65vw);
        }

        100% {
            transform: translateX(0.5vw);
        }
    }
}
