.PartnerBanner {
    width: fit-content;
    height: fit-content;
    background-color: var(--color-bunting);

    div {
        display: flex;
        flex-direction: row;
        gap: 4vw;
        animation: slide 10s 1s linear infinite;
    }

    img {
        width: 10vw;
        height: 5vw;
        object-fit: contain;
        left: 0%;
        top: 0%;
        margin: 1vw;
    }
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    50% {
        margin-left: -25%;
    }

    100% {
        margin-left: -50%;
    }
}