.FeaturedJobs {
    display: flex;
    flex-direction: column;
    gap: 59px;

    max-width: var(--section-max-width);
    padding: 96px 0;

    background-color: var(--color-white-lilac);

    &__heading {
        display: flex;
        justify-content: space-between;
    }

    &__viewMoreLink {
        color: #7D7CAC;
        text-decoration: none;

        &__icon {
            vertical-align: baseline;
        }
    }

    &__cardContainer {
        display: flex;
        gap: 32px;
        justify-content: space-between;
    }
}
