.NavbarMobileLogoBar {
  width: 90vw;
  height: 100px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);

  &__logo {
    padding-top: 1px;
    img {
      width: 153.6px;
    }
  }

  &__hamburger-menu {
    cursor: pointer;
    &__bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease;
      background-color: var(--color-text);
    }

    &.clicked > &__bar {
      &:nth-of-type(1) {
        transform: translateY(8px) rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
