.CandidateSection {
  padding: 96px 64px;
  background: var(--color-white-lilac);

  &__wrapper {
    width: 100%;
    max-width: 1260px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 59px;
  }

  &__heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__text {
      color: var(--color-bunting);
      position: relative;
      margin: 0;

      &::after {
        content: " ";
        position: absolute;
        display: block;
        width: 24px;
        height: 8px;
        border-radius: 4px;
        margin-top: 5px;
        background: var(--color-blue-ribbon);
      }
    }
  }

  &__viewMoreLink--top {
    color: var(--color-text);
    text-decoration: none;

    &__icon {
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  &__viewMoreLink--bottom {
    display: none;
  }

  &__cardContainer {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 480px) {
    padding: 64px 24px;
  }

  @media screen and (max-width: 840px) {
    &__viewMoreLink--top {
      display: none;
    }

    &__viewMoreLink--bottom {
      color: var(--color-text);
      text-decoration: none;
      display: inline-block;
      margin: 0 auto;

      &__icon {
        margin-left: 5px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}
