.CandidateSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 96px 126px;
    gap: 10px;
    background: var(--color-white-lilac);

    @media screen and (max-width: 480px) {
        padding: 64px 24px;
        align-items: center;
    }

    &__wrapper__title {
        height: 43px;
        font-style: normal;
        line-height: 133%;
        color: var(--color-bunting);
        flex: none;
        order: 0;
        flex-grow: 0;
        text-align: left;

        &__rec {
            width: 24px;
            height: 8px;
            background: var(--color-blue-ribbon);
            border-radius: 4px;
            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }

    &__wrapper__viewmore {

        &__text {
            color: #7D7CAC;
            text-decoration: none;
        }

        &--top {
            display: inline-block;
            position: absolute;
            top: 15%;
            right: 8%;
        }

        &--bottom {
            display: none;
        }

        @media only screen and (max-width: 540px) {
            &--top {
                display: none;
            }
    
            &--bottom {
                display: block;
                position: absolute;
                left: 10%;
            }
        }
    }
}
