.CandidateSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 96px 126px;
    gap: 10px;
    height: 992.38px;
    left: 0px;
    background: #F8F7FC;

    &-wrapper__title {
        height: 43px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 133%;
        color: #151F4C;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}