@import url('https://fonts.googleapis.com/css2?family=Inter&family=Philosopher&display=swap');

// Font Variables
$inter: 'Inter', sans-serif;
$philosopher: 'Philosopher', sans-serif;

//Colour Variables
$color-blue-ribbon: #0066FF;
$color-selective-yellow: #FFBA00;
$color-bunting: #151F4C;
$color-white: #FFFFFF;
$color-white-lilac: #F8F7FC;

:root {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $inter;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h1, h2 , h3, h4 {
  font-family: $inter;

}

p {
  font-size: 16px;
}