.MobileNavigation-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 50px;
    height: 798px;
    left: 0px;
    top: 96px;
    background: #F8F7FC;
    border-bottom: 1px solid #E3E0ED;

    &__link1 &__link2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #151F4C;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15.5px 24px;
        gap: 10px;
        width: 326px;
        height: 48px;

        background: #FFFFFF;
        border: 2px solid #0066FF;
        border-radius: 8px;
        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
    }
}